<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/martin.jpg" />
    <ion-card-header>
      <ion-card-title>Contacto</ion-card-title>
      <ion-card-subtitle>martinpimentelmatos&#64;gmail.com</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Esta es mi información de contacto, pueden contactarme a traves de mi correo
    </ion-card-content>
  </ion-card>
</ion-content>
